*{
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body{
  background-image: url("Imagenes/SVG/Fondo.svg");
  background-size: cover; /* Hace que la imagen ocupe todo el espacio disponible */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  height: auto; /* Asegura que el cuerpo del documento ocupe toda la altura de la ventana */
  margin: 0; /* Elimina el margen por defecto del body */
}

.controlvoz{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 7%;
  color: white;
}



.botonvozverde{
  position: fixed;
  right: 0;
  bottom: 0;
  width: 4%;
  z-index: 1000;
  cursor: pointer;
}
.mensaje{
  display: flex;
  align-items: center;
  justify-content: center;
}
#status{
  color: white;
  margin-top: 2%;
}

.montserrat{
font-family: "Montserrat", sans-serif;
font-optical-sizing: auto;
font-weight:200;
font-style: normal;
}

.audio{
  margin-top: -18%;
}

#iconreproducir{
  color: rgb(138, 138, 138);
 font-size: 5vw;
 justify-content: center;
 display: flex;
 z-index: 9;
 margin-left: 42%;
 cursor: pointer;
 padding-bottom: 4%;
 }




#iconreiniciar{
  color: rgb(138, 138, 138);
  font-size: 5vw;
  justify-content: center;
  display: flex;
  z-index: 9;
  margin-left: 48%;
  cursor: pointer;
}
.audiocel{
  margin-top: 10%;
}

#iconreproducircel{
color: rgb(138, 138, 138);
 font-size: 15vw;
 margin-left: 22%;
 cursor: pointer;
 padding-bottom: 4%;
 }


#iconreiniciarcel{
  color: rgb(138, 138, 138);
  font-size: 15vw;
  margin-left: 20%;
  cursor: pointer;
}


#audioElement {
  display: none;
}


.barraNav {
position: fixed;
/*    position: relative; */
  z-index: 1; 
}

.barraNavBotonLogo{
  width: 4%;
  position: absolute; /* Permite el uso de z-index */
top: 14%;
left:8%; 
z-index: 2;
}






.barraNavBotonContactame{
  width: 8%;
  position: absolute; /* Permite el uso de z-index */
  margin-top: -5.5%;
right:8%; 
z-index: 2;
}

.barraNavBotonMiBlog{
  width: 8%;
  position: absolute; /* Permite el uso de z-index */
  margin-top: -5.5%;
right:20%; 
z-index: 2;
}

.barraNavBotonMisProyectos{
  width: 8%;
  position: absolute; /* Permite el uso de z-index */
  margin-top: -5.5%;
right:32%; 
z-index: 2;
}
.barraNavBotonMisProyectos2{
  width: 8%;
  position: absolute; /* Permite el uso de z-index */
  margin-top: -5.5%;
right:32%; 
z-index: 2;
}

.barraNavBotonQuienSoy{
  width: 8%;
  position: absolute; /* Permite el uso de z-index */
margin-top: -5.5%;
right:44%; 
z-index: 2;
}

.barraNavBotonMenuHamburguesa{
width: 8%;
position: absolute; /* Permite el uso de z-index */
top: 20%;
right:8%; 
z-index: 2;
cursor: pointer;
}

.TextoBienvenida{
padding-top: 15%;
padding-left: 8%;
}

.Fotomiaquiensoy{
  margin-top: 20%;
  padding-left: 8%;
  }

.Textoquiensoy{
    margin-top: 30%;
float: right;
margin-right: 8%;
    }
.descripcion{
  display: flex;
  justify-content: center;
  align-items: center;
}


.TextoBienvenida:hover{
animation-iteration-count: infinite;
animation-duration: 2s;
}

.Fotomiaquiensoy:hover{
  animation-iteration-count: infinite;
  animation-duration: 2s;
  }

  .Textoquiensoy:hover{
    animation-iteration-count: infinite;
    animation-duration: 2s;
    }

.barraNavBotonLogo:hover,
.barraNavBotonContactame:hover,
.barraNavBotonMiBlog:hover,
.barraNavBotonMisProyectos:hover,
.barraNavBotonQuienSoy:hover
{
  animation-iteration-count: infinite;
  animation-duration: 2s;
}



#carouselExample{
margin-top: 15.1%;
float: right;
margin-right: 8%;
border: 5px solid #00C129;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
background-color: green; /* Cambia este color al que prefieras */
border-radius: 100%;
}

.prev1,
.next1 {
background-color: green; /* Cambia este color al que prefieras */
border-radius: 100%;
}



.textos2{
color: white;
padding-top: 15%;
padding-bottom: -5%;
left: 50%;
}
.text-center{
color: white;

}

.no-underline {
text-decoration: none;
}



.imagenes{
display: flex;
align-items: center;
justify-content: center;
margin-top: 5%;
}

.imagenHome{
margin-right: 5%;
margin-left: 5%;
width: 20%;
}
.imagenHome:hover
{
  animation-iteration-count: infinite;
  animation-duration: 2s;
  cursor: pointer;
}


.footer{
margin-top: 8%;
}

.footer{
position: relative;
z-index: 1;
}



.botonFooterWhatsapp{
width: 7%;
position: absolute;
z-index: 2;
top: 30%;
left:8%; 

}
.botonFooterWhatsapp:hover{
animation-iteration-count: infinite;
animation-duration: 2s;
}

.botonFooterCorreo{
width: 16%;
position: absolute;
z-index: 2;
top: 20%;
left:27.5%; 
}

.botonFooterCorreo:hover{
  animation-iteration-count: infinite;
  animation-duration: 2s;
  }

.botonFooterGitHub{
width: 19%;
position: absolute;
z-index: 2;
top: 13%;
right:26.5%; 
}

.botonFooterGitHub:hover{
  animation-iteration-count: infinite;
  animation-duration: 2s;
  }

.botonFooterInstagram{
width: 9%;
position: absolute;
z-index: 2;
top: 30%;
right:8%; 
}

.botonFooterInstagram:hover{
  animation-iteration-count: infinite;
  animation-duration: 2s;
  }

.menu-container {
  position: relative;
}


.menu-toggle {
  display: none
}

.menu {
  display: none;
  position: absolute;
  top: 60%; /* Ajusta según sea necesario */
  right: 0;
  background-color: #007F18;
  border: 2px solid #00C129;
  box-shadow: 0 4px 8px #003f0c;
  z-index: 1;
}

.menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu ul li {
  padding: 10px;
}

.menu ul li a {
  display: block;
}

.menu ul li a img{
width: 60%;
margin-left: 17%;
}

.menu ul li a:hover {
  background-color: #005810;
}

.menu-toggle:checked + label + .menu {
  display: block;
}

/* Estilo del modal */
.modal {
  display: none;
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

/* Estilo del contenido del modal */
.modal-content {
  width: 80%;
 /* background-color: rgb(255, 255, 255); */
 background-color: transparent;
 padding: 20px;
  margin: auto;
  border: rgba(255, 255, 255, 0);
  justify-content: center;
  align-items: center;
}

#carouselExample1{
  border: 5px solid #00C129;
  width: 80%;
  }

  

#carouselExample2{
  border: 5px solid #00C129;
  width: 80%;
  }

  #carouselExample3{
    border: 5px solid #00C129;
    width: 80%;
    }
    #carouselExample4{
      border: 5px solid #00C129;
      width: 80%;
      }
      #carouselExample5{
        border: 5px solid #00C129;
        width: 80%;
        }
        #carouselExample6{
          border: 5px solid #00C129;
          width: 80%;
          }
          #carouselExample7{
            border: 5px solid #00C129;
            width: 80%;
            }
            #carouselExample8{
              border: 5px solid #00C129;
              width: 80%;
              }

              #carouselExample9{
                border: 5px solid #00C129;
                width: 80%;
                }

                #carouselExample11, #carouselExample22, #carouselExample33, #carouselExample44, #carouselExample55{
                  width: 80%;
                }
    
  

  /* Estilo del botón de cerrar */
.close {
  color: white;
  background-color: #00C129;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  float: right;
  align-items: center;
  justify-content: center;
  font-size: 35px;
  font-weight: bold;
  cursor: pointer;
  position: absolute;
  top:1%;
  right: -3%;
}

.close:hover,
.close:focus {
  color: #005810;
}

.close2 {
  color: white;
  background-color: #00C129;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  float: right;
  align-items: center;
  justify-content: center;
  font-size: 35px;
  font-weight: bold;
  cursor: pointer;
  position: absolute;
  top:1%;
  right: -3%;
}

.close2:hover,
.close2:focus {
  color: #005810;
}

.mapa{
  display: flex;
  justify-content: center;
  align-items: center;
}
.textomapa{
  color: white;
  text-align: center;
 padding-top: 20%;
}



#map {
  margin-top: 10%; /* Ajusta el margen superior según la altura de la barra de navegación */
  height: 400px; /* Altura del mapa */
  width: 90%;   /* Ancho del mapa */
  border: 7px solid #00C129;
  z-index: 0;
}

#coordinates {
  margin-top: 10px;
  font-family: Arial, sans-serif;
}

.botonmapa{
  display: flex;
  justify-content: center;
  align-items: center;
}

#get-coordinates-button {
  width: 30%;
  margin-top: 5%;
  padding: 5px 10px;
  font-size: 14px;
  cursor: pointer;
}


/* Personaje */
.TextoPersonaje{
  text-align: center;
  color: white;
  text-decoration: none;
  padding-top: 4%;
}

.contenidoPersonaje{
  padding-top: 11%;
/*   background-color: black; */
}

.seccion1 {
  display: flex;
  border-bottom: 1vh solid white;
}

.tituloMiPersonaje{
  width: 100%;
  margin-left: 5%;
  margin-top: 20%;
  }
.parrafoseccion1{
  color: white;
  text-align: justify;
  margin-left: 6%;
  margin-top: 4%;
  font-size: 2vw;
}
  .Personajeseccion1{
    width: 50%;
  }

/* Sección 2 */
.seccion2 {
  border-bottom: 1vh solid white;
  padding-left: 5%;
  padding-top: 2%;
  padding-bottom: 2%;
}

.LogoHope {
  width: 15%;
  margin-left: 7%;
}

.CabezaPersonaje {
  width: 20%;
  margin-left: 10%;
}

.TorsoPersonaje {
  width: 30%;
  margin-left: 10%;
}



/* Sección 3 */
.seccion3 {
  border-bottom: 1vh solid white;
  padding-left: 5%;
  padding-top: 2%;
  padding-bottom: 2%;
}

.Mochila {
  width: 20%;
  margin-left: 7%;

}

.Lentes {
  width: 25%;
  margin-left: 10%;
}

.Celular {
  width: 15%;
  margin-left: 10%;
}


/* Sección 4 */
.seccion4 {
  border-bottom: 1vh solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 2%;
  padding-bottom: 2%;
}
.Frontal {
  width: 20.2%;
}
.d3-4Dere {
  width: 19%;
  margin-left: 7%;
}
.LateralDere {
  width: 15.5%;
  margin-left: 7%;
}
h2 {
  color: white;
  font-size: 2em;
}

/* seccion5 */
.seccion5{

  display: flex;
  justify-content: center;
  align-items: center;
}
.rotacionpersonaje{

  width:80%;
}

.footerpersonaje{
  position: relative;
z-index: 1;
}

@media(min-width:576px) and (max-width:6400px) {
.barraNavVCelu, .barraNavBotonMenuHamburguesa,.barraNavCeluDesplegable,.piedepaginaCelu,.botonFooterWhatsappCelu,.botonFooterCorreoCelu,.botonFooterGitHubCelu,.botonFooterInstagramCelu,.audiocel{
    display: none;
}
}

@media (max-width: 768px){
  .modal-content {
    width: 90%;
  }
  
  #carouselExample2 {
    width: 90%;
  }

  #carouselExample3 {
    width: 90%;
  }

  #carouselExample4 {
    width: 90%;
  }
}

@media (max-width: 576px) {
.barraNavBotonContactame, .barraNavBotonMiBlog,.barraNavBotonMisProyectos, .barraNavBotonQuienSoy, .piedepagina, .botonFooterCorreo, .botonFooterGitHub,.botonFooterInstagram,.botonFooterWhatsapp,.audio{
display: none;
}
.barraNavV{
display: none;
}

.barraNavBotonLogo{
width: 10%;
margin-top: -2%;
}
.TextoBienvenida{
  width: 90%;
  padding-top: 35%;
  margin-left: 0%;
}

.Fotomiaquiensoy{
  width: 90%;
  padding-top: 17%;

}

.Textoquiensoy{
  width: 90%;
  margin-top: 17%;
  margin-right:5%;
  margin-bottom: 10%;
}

.audio{
  margin-top: -15%;
}

#iconreproducir{
  margin-left:5%;
  font-size: 15vw;
}
#carouselExample{
  width: 90%;
  margin-top: 5%;
  margin-right:5%;
  margin-bottom: 10%;
}
.textos2{
  margin-top: -15%;
}


#carouselExample1, #carouselExample2, #carouselExample3, #carouselExample4, #carouselExample5, #carouselExample6, #carouselExample7, #carouselExample8, #carouselExample9{
  width: 115%;
  margin-right:0;
}
#carouselExample11, #carouselExample22, #carouselExample33, #carouselExample44, #carouselExample55{
  width: 100%;
  margin-right:0;
}


.prev1 {
margin-left: -100%;
}
.next1{
margin-right: -100%;
}

.closeproyecto1 {
  top: -10%;
}
.text-center{
margin-top: 80%;
}

.imagenes {
  flex-direction: column;
}

.imagenHome{
  width: 70%;
}

.imagenHome {
  margin-right: 0;
  margin-top: 15%;
}




.botonFooterWhatsappCelu{
  width: 10%;
  position: absolute;
  z-index: 2;
  top: 30%;
  left:8%; 
}

.botonFooterCorreoCelu{
  width: 10%;
  position: absolute;
  z-index: 2;
  top: 38%;
  left:32%; 
}

.botonFooterGitHubCelu{
  width: 10%;
  position: absolute;
  z-index: 2;
  top: 30%;
  right:32%; 
}

.botonFooterInstagramCelu{
  width: 10%;
  position: absolute;
  z-index: 2;
  top: 30%;
  right:8%; 
}


.close {
  top: -10%;
}

.botonvozverde{
  width: 10%;
}
#get-coordinates-button {
  width: 50%;
}

.textomapa{
 padding-top: 30%;
}


}


/* pagina quien soy: */

.Textodescripcion{
  padding-top: 9%;
  }


/*   paginaproyectos */

#fondo2{
  background-image: url("Imagenes/SVG/Fondo2.svg");
  background-size: cover; /* Hace que la imagen ocupe todo el espacio disponible */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  height: auto; /* Asegura que el cuerpo del documento ocupe toda la altura de la ventana */
  margin: 0; /* Elimina el margen por defecto del body */
}
.tituloconocemitrabajo{
  display: flex;
  align-items: center;
  justify-content: center;

}
.conocemitrabajo{
  width: 30%;
  margin-top: 20%;
}

.imagenesproyectos{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15%;
  }

  .imagenesproyectos2{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
    }

    .imagenesproyectos3{
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 5%;
      }


  

@media (max-width: 576px) {
  .conocemitrabajo{
    /* width: 20%; */
/*     margin-top: 23%; */
margin-top: 40%;
width: 50%;
  }
  .imagenesproyectos, .imagenesproyectos2, .imagenesproyectos3 {
    flex-direction: column;
  }
  .imagenHome{
    width: 70%;
  }
  
  .imagenHome {
    margin-right: 0;
    margin-top: 15%;
  }
  
}

/* paginablog */

.bienvenidoblog{
  width: 60%;
  margin-top: 20%;
}



@media (max-width: 576px) {
  .bienvenidoblog{
    width: 80%;
    margin-top: 40%;
  }
}